	<!-- Header -->
	<header class="header">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="<%= $facebook_link %>" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>

        <span class="topbar-child1">
				  L'univers du crochet et bien plus encore !
				</span>
      </div>

			<div class="wrap_header">

				<a href="<%= root_path %>" class="logo">
        <%= image_tag "logos/2.jpg",alt: "IMG-LOGO", size: "100%" %>
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="<%= root_path %>">Acceuil</a>
							</li>

							<li>
								<a href="#">Mes articles</a>
                  <ul class="sub_menu">
                    <li><a href="<%= static_path('dolls') %>">Poupées</a></li>
                    <li><a href="<%= static_path('accessories') %>">Accessoires</a></li>
                    <li><a href="<%= static_path('templates') %>">Patrons</a></li>
                    <li><a href="<%= static_path('kits') %>">Kits</a></li>
                  </ul>
							</li>

							<li class="sale-noti">
								<a href="<%= articles_path %>">Boutique</a>
							</li>

							<li>
								<a href="<%= events_path %>">Evenements</a>
							</li>

							<li>
								<a href="#">Tutoriels</a>
							</li>

							<li>
								<a href="<%= blog_articles_path %>">Blog</a>
							</li>

							<li>
								<a href="<%= static_path('contact') %>">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
          <div class="dropdown show">
            <a href="#" class="header-wrapicon1 dis-block m-l-30 dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "icons/icon-header-01.png", class: "header-icon1",alt: "ICON" %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink ">
              <% if signed_in? %>
                <% if isAdmin? %>
                  <%= link_to "ADMIN", admin_statics_path("index"), :class => 'dropdown-item btn btn-warning' %>
                <% end %>
                <%= link_to "Mes données", user_path(current_user), :class => 'dropdown-item' %>
                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => 'dropdown-item' %>

              <%else%>
                <%= link_to "Se connecter", new_user_session_path, :class => 'dropdown-item' %>
                <%= link_to "S'inscrire", new_user_registration_path, :class => 'dropdown-item' %>
              <%end%>
            </div>
          </div>
          <span class="linedivide1"></span>
          <div class="header-wrapicon2 m-r-13">
            <%= image_tag "icons/icon-header-02.png", class: "header-icon1 js-show-header-dropdown",alt: "ICON" %>
            <span class="header-icons-noti">0</span>
            <%= render "components/headerCartDropdown"%>
          </div>
				</div>

			</div>
		</div>
	</header>