
<% if tile_type == "tile"%>
  <div class="row post-tile">
    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-3 nopaddingleftright match-height background-cover" style="background-image: url(<%= asset_path(img_path) %>);">
        <div class="hover-effect smoothie">
            <a href="#" class="smoothie"></a>
            <div class="hover-caption dark-overlay smoothie text-center">
                <div class="vertical-center-js">
                    <a href="<%= link %>" class="btn btn-primary btn-green">Voir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-9 blog-caption match-height pure-white-wrapper">
        <div class="vertical-center-js">
            <h4 class="mb60"><%= title %></h4>
            <p class="mb20"><small><%= short_description %></small></p>
        </div>
    </div>
  </div>

<% elsif tile_type == "tile-alt"%>
<div class="row post-tile post-tile-alt">                                
  <div class="col-lg-6 col-md-8 col-sm-8 col-xs-9 blog-caption match-height pure-white-wrapper">
      <div class="vertical-center-js text-right">
          <h4 class="mb60"><%= title %></h4>
          <p class="mb20"><small><%= short_description %></small></p>
      </div>
  </div>
  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-3 nopaddingleftright match-height background-cover" style="background-image: url(<%= asset_path(img_path) %>)">
      <div class="hover-effect smoothie">
          <div class="hover-caption dark-overlay smoothie text-center">
              <div class="vertical-center-js">
                  <a href="<%= link %>" class="btn btn-primary btn-green">Voir</a>
              </div>
          </div>
      </div>
  </div>
</div>

<%end%>