
<% if tile_type == "tile"%>
  <div class="row post-tile block2">
    <div class="col-lg-6 col-md-4 col-sm-4 col-3 px-0 match-height background-cover block2-img" style="background-image: url(<%= asset_path(img_path) %>);">
        <div class=" block2-overlay trans-0-4">
            <div class="hover-caption text-center py-5">
                <p > Avis et notes des utilisateurs <p>
                <a href="<%= article_path(link) %>" class="btn btn-primary btn-green my-4">Voir</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8 col-9 blog-caption match-height ">
        <div class="vertical-center-js">
            <h4 class="m-b-60"><%= title %></h4>
            <p class="m-b-20"><small><%= short_description %></small></p>
        </div>
    </div>
  </div>

<% elsif tile_type == "tile-alt"%>
<div class="row post-tile post-tile-alt block2">                                
  <div class="col-lg-6 col-md-8 col-sm-8 col-9 blog-caption match-height">
      <div class="vertical-center-js text-right">
          <h4 class="m-b-60"><%= title %></h4>
          <p class="m-b-20"><small><%= short_description %></small></p>
      </div>
  </div>
  <div class="col-lg-6 col-md-4 col-sm-4 col-3 px-0 match-height background-cover block2-img" style="background-image: url(<%= asset_path(img_path) %>)">
      <div class="block2-overlay trans-0-4">
          <div class="hover-caption text-center py-5">
            <p > Avis et notes des utilisateurs <p>
            <a href="<%= article_path(link) %>" class="btn btn-primary btn-green">Voir</a>
          </div>
      </div>
  </div>
</div>

<%end%>