<div id="comments-form" class="row wow fadeIn white-wrapper pb-5" data-wow-delay="0.2s">
    <div class="col-md-12">
        <hr>
        <div class="mb60 single-section-title">
            <h3>Donner moi votre avis !</h3>
        <hr class="mb60">
        </div>

        <% if @comment.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <p><small>Nous n'avons pas réussi à créer votre commentaire pour la (ou les) raison(s) suivante(s) :</small></p>
            <ul><small>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </small></ul>
        </div>
        <% end %>


        <div id="message"></div>

            <%=  form_for [@commentable,@comment], html: { class: "comment-form", id: "commentform" } do |f| %>
                <div class="form-group">
                    <%= f.label :content, "Commentaire" %><br />
                    <%= f.text_field :content, autofocus: true, autocomplete: "content", class: "form-control" %>
                </div>
                <div class="actions">
                    <%= f.submit "Envoyer", class: "btn btn-lg btn-primary btn-block" %>
                </div>
            <% end %>

    </div>
</div>
