<section class="light-wrapper container col-12">
  <div class="section-inner">
      <div class="container m-t-50"> 
          <div class="row m-b-50">
              <div class="col-sm-8">                      
                  <p class="lead m-b-40 text-justify">Interactively visualize web-enabled markets vis-a-vis future-proof total linkage. Competently parallel task economically sound networks before effective systems. Assertively formulate premier methodologies rather than client-focused products. Energistically customize equity invested imperatives via ethical outsourcing. Competently parallel task compelling technologies through next-generation initiatives.</p>
                  <p>Energistically evisculate 2.0 strategic theme areas via extensible sources. Conveniently procrastinate client-focused models through out-of-the-box systems. Holisticly parallel task cross functional synergy rather than low-risk high-yield experiences. Conveniently myocardinate premier networks after seamless materials. Competently build technically sound applications after exceptional applications.</p>

                <div class="flex-w">
                    <%= render partial: 'stepBlock', locals: {
                        title: "Etape 1 : Fabrication du corps",
                        image: "50.jpg",
                        description: "Description de l'étape 1. Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. "
                    }%>

                    <%= render partial: 'stepBlock', locals: {
                        title: "Etape 2 : Fabrication de la tête",
                        image: "51.jpg",
                        description: "Description de l'étape 1. Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus."
                    }%>

                    <%= render partial: 'stepBlock', locals: {
                        title: "Etape 3 : Fabrication des accessoires",
                        image: "52.jpg",
                        description: "Description de l'étape 1. Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. "
                    }%>

                    <%= render partial: 'stepBlock', locals: {
                        title: "Etape 4 : Intégration définitive",
                        image: "53.jpg",
                        description: "Description de l'étape 1. Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. "
                    }%>
                </div>


                  <p>Competently impact multifunctional resources through cross-platform bandwidth. Globally reinvent B2C manufactured products and cross functional portals. Quickly seize cross-unit partnerships rather than premier data. Professionally evisculate value-added communities whereas reliable deliverables. Monotonectally parallel task e-business interfaces with distinctive resources.</p>
              </div>

              <div class="col-sm-4">
                <%= render 'panelGroup'%>
              </div>
          </div>


          <div class="row p-b-50">
            <%= render 'components/featureBox'%>
          </div>
      </div>
  </div>
</section>